/* basic styling ------------ */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  background-color: #ECECEC;
}
header {
  padding: 1em 0 1em 0;
  overflow: auto;
}
footer {
  padding: 0 1em;
}
footer h2 {
  padding: 0;
}
main {
  padding: 0 15px;
  background: #FFF;
  overflow: auto;
}
h1 {
  text-align: center;
  margin: 0 0 0 0;
}
h2 {
  font-size: 1.15em;
  font-weight: 700;
  padding: 1em 0 0 0;
}
h3 {
  font-size: 1.5em;
  font-weight: 400;
  color: slategrey;
}
p {
  padding: 0 1em;
}
.center {
  text-align: center;
}
.bold {
  font-weight: bold;
}
a:link, a:active, a:visited {
  text-decoration: none;
  color: #000;
}


/* navigations ------------- */
nav a {
  display: block;
  text-align: center;
  padding: 0.75em;
  background-color: lightgrey;
  margin: 0.5em 1em 0.5em 1em;
  color: #000;
  font-weight: bold;
}
nav a:hover {
  background-color: darkgrey;
  color: lightgrey;
}
nav {
  margin: 2em 0 2em 0;
}
.footer-nav {
    display: block;
    list-style-type: none;
    padding: 0;
}
.footer-nav li {
  display: inline-block;
  font-weight: bold;
}
.footer-nav li:nth-child(2) {
  float:right;
}
.footer-nav a:hover {
  color: darkgrey;
}

/* images -------------------- */
img.image-visuals {
  width: 100%;
}
img.profile-image {
  margin-left: auto;
  margin-right: auto;
  max-width: 230px;
  width: 33%;
  display: block;
}


/* Media Queries ------------- */
/* default */
section .subsection:only-child {
  margin: auto;
}
div.subsection {
  margin: 0 auto;
}

@Media (max-width: 360px) {
  .flex-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  div.subsection {
    width: 100%;
  }
}

@Media (min-width: 768px) {
  .flex-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  div.subsection {
    width: calc(100%/2 - 0.5em);
  }
  /* profile info and image */
  .profile-info {
    text-align: left;
  }
  .profile-image {
    float: right;
    padding-right: 1em;
  }
  /* space between subsections */
  .flex-container div.subsection:nth-child(odd) {
    margin: 0 1em 0 0;
  }
  .flex-container div.subsection:nth-child(even) {
    margin: 0 0 0 0;
  }

  nav {
    text-align: center;
  }
  nav a {
    display: inline-block;
    background-color: initial;
    margin: 0 0 1em 0;
    padding: 0 1em;
  }
  nav a:hover {
    background-color: initial;
  }
}

@Media (min-width: 1024px) {
  div.subsection {
    width: calc(100%/3 - 0.7em);
    /* padding: 0 6px; */
    margin: 0 auto;
  }

  /* space between subsections */
  .flex-container div.subsection:nth-child(1), .flex-container div.subsection:nth-child(2), .flex-container div.subsection:nth-child(4), .flex-container div.subsection:nth-child(5) {
    margin: 0 1em 0 0;
  }
  .flex-container div.subsection:nth-child(3), .flex-container div.subsection:nth-child(6) {
    margin: 0 0 0 0;
  }
  nav {
    text-align: right;
    margin: 1em 0 2em 0;
    float: right;
    clear: right;
  }
  nav a {
    display: inline-block;
    background-color: initial;
    margin: 0 0 1em 0;
    padding: 0 1em;
  }
  nav a:hover {
    background-color: initial;
  }
  h1 {
    /* display: inline-block; */
    margin: 0 0 0 1em;
    width: 50%;
    text-align: left;
    float: left;
    clear: left;
  }
  div.header-info-wrapper {
    display: inline-block;
    width: 100%;
  }
}
