/* main element */
body {
  margin: 0;
}
header {
    background-color: #ECECEC;
    padding: 1em 0 1em 0;
}
footer {
  background-color: #ECECEC;
  padding: 1em;
}
.footer-nav {
    display: block;
    list-style-type: none;
    padding: 0;
}
.footer-nav li {
  display: inline-block;
  font-weight: bold;
}
.footer-nav li:nth-child(2) {
  float:right;
}
/* main navigation */
nav a {
  display: block;
  text-align: center;
  padding: 0.75em;
  background-color: white;
  margin: 0.5em 1em 0.5em 1em;
  color: #000;
  font-weight: bold;
}
nav {
  margin: 2em 0 2em 0;
}
a:link, a:active, a:visited {
  text-decoration: none;
  color: #000;
}

/* images */
img.image-visuals {
  width: 100%;
}
img.profile-image {
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
  display: block;
}

/* basic styling */
.background {
  background-color: #ECECEC;
}
.center {
  text-align: center;
}
.bold {
  font-weight: bold;
}
