/* basic styling ------------ */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
header {
    background-color: #ECECEC;
    padding: 1em 0 1em 0;
}
footer {
  background-color: #ECECEC;
  padding: 1em;
}
h2 {
  font-size: 1.15em;
  font-weight: 700;
  /* letter-spacing: 0.1em; */
}
h3 {
  font-size: 1.5em;
  font-weight: 400;
}
p {
  padding: 0 15px;
}
.background {
  background-color: #ECECEC;
}
.center {
  text-align: center;
}
.bold {
  font-weight: bold;
}
a:link, a:active, a:visited {
  text-decoration: none;
  color: #000;
}


/* main elements ----------- */
.flex {
  padding: 0 15px;
}



/* navigations ------------- */
nav a {
  display: block;
  text-align: center;
  padding: 0.75em;
  background-color: lightgrey;
  margin: 0.5em 1em 0.5em 1em;
  color: #000;
  font-weight: bold;
}
nav {
  margin: 2em 0 2em 0;
}
.footer-nav {
    display: block;
    list-style-type: none;
    padding: 0;
}
.footer-nav li {
  display: inline-block;
  font-weight: bold;
}
.footer-nav li:nth-child(2) {
  float:right;
}

/* images -------------------- */
img.image-visuals {
  width: 100%;
}
img.profile-image {
  margin-left: auto;
  margin-right: auto;
  max-width: 230px;
  width: 33%;
  display: block;
}


/* Media Queries ------------- */
@Media (max-width: 1024px) {
  .profile-image {
    float: right;
  }
  .flex-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  div.section {
    width: 20%;
    margin: 10px;
  }
}
@Media (max-width: 768px) {
  .flex {
    flex: auto;
  }
  .profile-image {
    float: none;
  }
  div.subsection {
    width: 40%;
    margin: 10px;
  }
}
@Media (max-width: 360px) {
    .flex-container {
      flex-direction: column;
    }
    div.subsection {
      width: 100%;
      margin: 10px;
    }
}
